@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#reloj {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  text-shadow: 0px 0px 1px #333;
  color: white;
}

.contenedor-reloj {
  background-color: rgb(12, 119, 206);
  padding: 25px;
  max-width: 350px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10%;
}

#fecha {
    letter-spacing: 10px;
    font-size: 15px;
}